{% extends 'base.html' %}

{% block title %}Escape Room Homepage{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Welcome to our Escape Room</h1>
        <p>Experience the thrill of solving puzzles, uncovering secrets, and escaping in time!</p>
    </div>
{% endblock %}

<style>
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 100px); /* Subtract the header height from the full viewport height */
        margin-top: 100px; /* Add spacing between the header and the content */
    }

    h1, p {
        text-align: center;
    }
</style>
