{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }
    </style>
    
    <h1>Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Profile</th>
                <th>Group Size</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard %}
            <tr>
                <td>
                    {% if entry[0] == "1st" %}
                        🥇
                    {% elif entry[0] == "2nd" %}
                        🥈
                    {% elif entry[0] == "3rd" %}
                        🥉
                    {% else %}
                        {{ entry[0] }}
                    {% endif %}
                </td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
                <td>{{ entry[3] }}</td>
                <td>{{ entry[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}